streamlit==1.26.0  # Latest stable version for Streamlit
transformers==4.38.0  # Latest stable version for Transformers
accelerate==0.26.0  # Latest stable version for Accelerate
datasets  # Latest stable version for Datasets
httpx==0.27.0  # Latest stable version for HTTPX
pandas==2.2.0  # Latest stable version for Pandas
plotly==5.20.0  # Latest stable version for Plotly
streamlit-lottie==0.0.4  # Latest stable version for Streamlit-Lottie
