streamlit # Latest stable version for Streamlit
transformers  # Latest stable version for Transformers
accelerate  # Latest stable version for Accelerate
datasets  # Latest stable version for Datasets
httpx  # Latest stable version for HTTPX
pandas  # Latest stable version for Pandas
plotly  # Latest stable version for Plotly
streamlit-lottie  # Latest stable version for Streamlit-Lottie
